// colors --use only hsl!
:root {
    --sniper: hsl(0, 50%, 60%);
    --balista: hsl(244, 50%, 60%);
    --laser: hsl(303, 50%, 60%);
    --path: hsl(39, 50%, 60%);
    --grass: hsl(135, 50%, 60%);
    --water: hsl(202, 50%, 60%);
    --hill: hsl(93, 50%, 60%);
}
// map scss part
$hex-width: 20px;
// warning!
// do not change anything under this line here!
$hex-height: floor(calc(1.732 * $hex-width));
.offsetRow:nth-child(2n + 1) {
    margin-top: round(calc($hex-width - round(calc($hex-width * 0.1))));
}
.hex {
    position: relative;
    width: $hex-width;
    height: $hex-height;
    background-color: hsl(var(--color));
    margin: 2px round(calc(($hex-width/2) / 2) + 1);
    &.button {
        margin: 100px;
        background-color: hsl(212, 80%, 52%);
    }
    &:focus {
        background-color: hsla(var(--color), 0.6);
    }
}
.hex:before,
.hex:after {
    content: '';
    position: absolute;
    width: 0;
    border-top: floor(calc($hex-height/2)) solid transparent;
    border-bottom: floor(calc($hex-height/2)) solid transparent;
}
.hex::before {
    left: 100%;
    border-left: floor(calc($hex-width/2)) solid hsla(var(--color));
}
.hex::after {
    right: 100%;
    width: 0;
    border-right: floor(calc($hex-width/2)) solid hsla(var(--color));
}
.hex:focus:before {
    left: 100%;
    border-left: floor(calc($hex-width/2)) solid hsla(var(--color), 0.6);
}
.hex:focus:after {
    right: 100%;
    width: 0;
    border-right: floor(calc($hex-width/2)) solid hsla(var(--color), 0.6);
}
// tower scss part

// .attackrange:after {
//     content: '';
//     width: calc(2 * var(--range));
//     height: calc(2 * var(--range));
//     position: absolute;
//     border-radius: 50%;
//     background-color: rgba(43, 43, 43, 0.185);
//     border: 5px solid var(--color);
//     transform: translate(-50%, -50%);
//     top: 50%;
//     left: 50%;
//     z-index: 2;
// }
